In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import tensorflow as tf

CO2_df = pd.read_csv('owid-co2-data.csv')
CO2_df

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001732e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25186,ZWE,Zimbabwe,2016,10.738,0.765,1.415,0.639,0.046,6.959,0.496,...,2.076,11.50,0.820,6.21,0.443,14030338.0,2.096179e+10,47.5,3385.574,1.889
25187,ZWE,Zimbabwe,2017,9.582,0.673,1.666,0.678,0.048,5.665,0.398,...,2.023,11.62,0.816,6.35,0.446,14236599.0,2.194784e+10,NaN,NaN,NaN
25188,ZWE,Zimbabwe,2018,11.854,0.821,1.308,0.697,0.048,7.101,0.492,...,2.173,11.96,0.828,6.59,0.456,14438812.0,2.271535e+10,NaN,NaN,NaN
25189,ZWE,Zimbabwe,2019,10.949,0.748,1.473,0.697,0.048,6.020,0.411,...,NaN,NaN,NaN,NaN,NaN,14645473.0,NaN,NaN,NaN,NaN
25190,ZWE,Zimbabwe,2020,10.531,0.709,NaN,0.697,0.047,6.257,0.421,...,NaN,NaN,NaN,NaN,NaN,14862927.0,NaN,NaN,NaN,NaN

In [2]:
CO2_df.dtypes

iso_code                                object
country                                 object
year                                     int64
co2                                    float64
co2_per_capita                         float64
trade_co2                              float64
cement_co2                             float64
cement_co2_per_capita                  float64
coal_co2                               float64
coal_co2_per_capita                    float64
flaring_co2                            float64
flaring_co2_per_capita                 float64
gas_co2                                float64
gas_co2_per_capita                     float64
oil_co2                                float64
oil_co2_per_capita                     float64
other_industry_co2                     float64
other_co2_per_capita                   float64
co2_growth_prct                        float64
co2_growth_abs                         float64
co2_per_gdp                            float64
co2_per_unit_energy                    float64
consumption_co2                        float64
consumption_co2_per_capita             float64
consumption_co2_per_gdp                float64
cumulative_co2                         float64
cumulative_cement_co2                  float64
cumulative_coal_co2                    float64
cumulative_flaring_co2                 float64
cumulative_gas_co2                     float64
cumulative_oil_co2                     float64
cumulative_other_co2                   float64
trade_co2_share                        float64
share_global_co2                       float64
share_global_cement_co2                float64
share_global_coal_co2                  float64
share_global_flaring_co2               float64
share_global_gas_co2                   float64
share_global_oil_co2                   float64
share_global_other_co2                 float64
share_global_cumulative_co2            float64
share_global_cumulative_cement_co2     float64
share_global_cumulative_coal_co2       float64
share_global_cumulative_flaring_co2    float64
share_global_cumulative_gas_co2        float64
share_global_cumulative_oil_co2        float64
share_global_cumulative_other_co2      float64
total_ghg                              float64
ghg_per_capita                         float64
total_ghg_excluding_lucf               float64
ghg_excluding_lucf_per_capita          float64
methane                                float64
methane_per_capita                     float64
nitrous_oxide                          float64
nitrous_oxide_per_capita               float64
population                             float64
gdp                                    float64
primary_energy_consumption             float64
energy_per_capita                      float64
energy_per_gdp                         float64
dtype: object

In [3]:
# Dropping Columns that have more than 90% Nan Values
CO2_df.dropna(thresh=len(CO2_df)*0.9, axis='columns')
# CO2_df = CO_df.reset_index()

,country,year,co2,co2_per_capita,co2_growth_prct,co2_growth_abs,cumulative_co2,share_global_co2,share_global_cumulative_co2,population
0,Afghanistan,1949,0.015,0.002,NaN,NaN,0.015,0.00,0.00,7624058.0
1,Afghanistan,1950,0.084,0.011,475.00,0.070,0.099,0.00,0.00,7752117.0
2,Afghanistan,1951,0.092,0.012,8.70,0.007,0.191,0.00,0.00,7840151.0
3,Afghanistan,1952,0.092,0.012,0.00,0.000,0.282,0.00,0.00,7935996.0
4,Afghanistan,1953,0.106,0.013,16.00,0.015,0.388,0.00,0.00,8039684.0
...,...,...,...,...,...,...,...,...,...,...
25186,Zimbabwe,2016,10.738,0.765,-12.17,-1.488,736.467,0.03,0.05,14030338.0
25187,Zimbabwe,2017,9.582,0.673,-10.77,-1.156,746.049,0.03,0.05,14236599.0
25188,Zimbabwe,2018,11.854,0.821,23.72,2.273,757.903,0.03,0.05,14438812.0
25189,Zimbabwe,2019,10.949,0.748,-7.64,-0.905,768.852,0.03,0.05,14645473.0
25190,Zimbabwe,2020,10.531,0.709,-3.82,-0.418,779.383,0.03,0.05,14862927.0

In [4]:
usa_df = CO2_df[CO2_df['country'].isin(['United States'])]
usa_df

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
23834,USA,United States,1800,0.253,0.042,NaN,NaN,NaN,0.253,0.042,...,NaN,NaN,NaN,NaN,NaN,6000000.0,NaN,NaN,NaN,NaN
23835,USA,United States,1801,0.267,0.044,NaN,NaN,NaN,0.267,0.044,...,NaN,NaN,NaN,NaN,NaN,6113782.0,NaN,NaN,NaN,NaN
23836,USA,United States,1802,0.289,0.046,NaN,NaN,NaN,0.289,0.046,...,NaN,NaN,NaN,NaN,NaN,6229723.0,NaN,NaN,NaN,NaN
23837,USA,United States,1803,0.297,0.047,NaN,NaN,NaN,0.297,0.047,...,NaN,NaN,NaN,NaN,NaN,6347862.0,NaN,NaN,NaN,NaN
23838,USA,United States,1804,0.333,0.052,NaN,NaN,NaN,0.333,0.052,...,NaN,NaN,NaN,NaN,NaN,6468241.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24050,USA,United States,2016,5248.024,16.247,328.696,39.439,0.122,1379.744,4.271,...,18.288,609.89,1.888,249.26,0.772,323015992.0,1.716256e+13,25560.520,79130.818,1.486
24051,USA,United States,2017,5207.751,16.020,343.021,40.324,0.124,1338.667,4.118,...,17.973,615.77,1.894,250.68,0.771,325084758.0,1.759628e+13,25647.389,78894.410,NaN
24052,USA,United States,2018,5375.491,16.434,351.120,38.971,0.119,1283.532,3.924,...,18.415,623.77,1.907,251.35,0.768,327096263.0,1.814065e+13,26556.388,81188.359,NaN
24053,USA,United States,2019,5255.816,15.972,369.967,40.896,0.124,1098.854,3.339,...,NaN,NaN,NaN,NaN,NaN,329064917.0,NaN,26291.355,79897.151,NaN
24054,USA,United States,2020,4712.771,14.238,NaN,40.795,0.123,888.649,2.685,...,NaN,NaN,NaN,NaN,NaN,331002647.0,NaN,NaN,NaN,NaN

In [5]:
# Drop the non-beneficial ID columns
usa_df = usa_df.drop(columns=["iso_code"], axis=1)
usa_df

,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
23834,United States,1800,0.253,0.042,NaN,NaN,NaN,0.253,0.042,NaN,...,NaN,NaN,NaN,NaN,NaN,6000000.0,NaN,NaN,NaN,NaN
23835,United States,1801,0.267,0.044,NaN,NaN,NaN,0.267,0.044,NaN,...,NaN,NaN,NaN,NaN,NaN,6113782.0,NaN,NaN,NaN,NaN
23836,United States,1802,0.289,0.046,NaN,NaN,NaN,0.289,0.046,NaN,...,NaN,NaN,NaN,NaN,NaN,6229723.0,NaN,NaN,NaN,NaN
23837,United States,1803,0.297,0.047,NaN,NaN,NaN,0.297,0.047,NaN,...,NaN,NaN,NaN,NaN,NaN,6347862.0,NaN,NaN,NaN,NaN
23838,United States,1804,0.333,0.052,NaN,NaN,NaN,0.333,0.052,NaN,...,NaN,NaN,NaN,NaN,NaN,6468241.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24050,United States,2016,5248.024,16.247,328.696,39.439,0.122,1379.744,4.271,51.908,...,18.288,609.89,1.888,249.26,0.772,323015992.0,1.716256e+13,25560.520,79130.818,1.486
24051,United States,2017,5207.751,16.020,343.021,40.324,0.124,1338.667,4.118,56.186,...,17.973,615.77,1.894,250.68,0.771,325084758.0,1.759628e+13,25647.389,78894.410,NaN
24052,United States,2018,5375.491,16.434,351.120,38.971,0.119,1283.532,3.924,71.008,...,18.415,623.77,1.907,251.35,0.768,327096263.0,1.814065e+13,26556.388,81188.359,NaN
24053,United States,2019,5255.816,15.972,369.967,40.896,0.124,1098.854,3.339,84.510,...,NaN,NaN,NaN,NaN,NaN,329064917.0,NaN,26291.355,79897.151,NaN
24054,United States,2020,4712.771,14.238,NaN,40.795,0.123,888.649,2.685,84.510,...,NaN,NaN,NaN,NaN,NaN,331002647.0,NaN,NaN,NaN,NaN

In [6]:
# Dropping Columns that have more than 90% Nan Values
usa_df.dropna(thresh=len(usa_df)*0.9, axis='columns')

,country,year,co2,co2_per_capita,coal_co2,coal_co2_per_capita,co2_growth_prct,co2_growth_abs,co2_per_gdp,cumulative_co2,cumulative_coal_co2,share_global_co2,share_global_coal_co2,share_global_cumulative_co2,share_global_cumulative_coal_co2,population,gdp
23834,United States,1800,0.253,0.042,0.253,0.042,NaN,NaN,NaN,0.253,0.253,0.90,0.90,0.03,0.03,6000000.0,NaN
23835,United States,1801,0.267,0.044,0.267,0.044,5.80,0.015,NaN,0.520,0.520,0.96,0.96,0.06,0.06,6113782.0,NaN
23836,United States,1802,0.289,0.046,0.289,0.046,8.22,0.022,NaN,0.810,0.810,0.79,0.79,0.10,0.10,6229723.0,NaN
23837,United States,1803,0.297,0.047,0.297,0.047,2.53,0.007,NaN,1.107,1.107,0.94,0.94,0.13,0.13,6347862.0,NaN
23838,United States,1804,0.333,0.052,0.333,0.052,12.35,0.037,NaN,1.440,1.440,0.97,0.97,0.16,0.16,6468241.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24050,United States,2016,5248.024,16.247,1379.744,4.271,-2.30,-123.747,0.306,396171.260,171040.485,14.80,9.61,25.52,23.41,323015992.0,1.716256e+13
24051,United States,2017,5207.751,16.020,1338.667,4.118,-0.77,-40.273,0.296,401379.012,172379.152,14.50,9.26,25.27,23.14,325084758.0,1.759628e+13
24052,United States,2018,5375.491,16.434,1283.532,3.924,3.22,167.739,0.296,406754.502,173662.684,14.67,8.72,25.03,22.86,327096263.0,1.814065e+13
24053,United States,2019,5255.816,15.972,1098.854,3.339,-2.23,-119.674,NaN,412010.318,174761.538,14.32,7.54,24.79,22.57,329064917.0,NaN
24054,United States,2020,4712.771,14.238,888.649,2.685,-10.33,-543.046,NaN,416723.089,175650.187,13.54,6.36,24.56,22.28,331002647.0,NaN

In [7]:
# Dropping Rows that have more than 90% Nan Values
# usa_df.dropna(thresh=len(usa_df)*0.3, axis='rows')

In [8]:
# Generate our categorical variable list
usa_cat = usa_df.dtypes[usa_df.dtypes == "float64"].index.tolist()

# Check the number of unique values in each column
usa_df[usa_cat].nunique()

co2                                    220
co2_per_capita                         216
trade_co2                               30
cement_co2                             108
cement_co2_per_capita                   57
coal_co2                               220
coal_co2_per_capita                    215
flaring_co2                             70
flaring_co2_per_capita                  57
gas_co2                                138
gas_co2_per_capita                     138
oil_co2                                161
oil_co2_per_capita                     157
other_industry_co2                      94
other_co2_per_capita                    64
co2_growth_prct                        214
co2_growth_abs                         208
co2_per_gdp                            184
co2_per_unit_energy                     20
consumption_co2                         30
consumption_co2_per_capita              30
consumption_co2_per_gdp                 27
cumulative_co2                         221
cumulative_cement_co2                  134
cumulative_coal_co2                    221
cumulative_flaring_co2                  71
cumulative_gas_co2                     139
cumulative_oil_co2                     161
cumulative_other_co2                   117
trade_co2_share                         29
share_global_co2                       209
share_global_cement_co2                111
share_global_coal_co2                  209
share_global_flaring_co2                69
share_global_gas_co2                   111
share_global_oil_co2                   159
share_global_other_co2                  61
share_global_cumulative_co2            217
share_global_cumulative_cement_co2     113
share_global_cumulative_coal_co2       215
share_global_cumulative_flaring_co2     68
share_global_cumulative_gas_co2        113
share_global_cumulative_oil_co2        160
share_global_cumulative_other_co2       62
total_ghg                               29
ghg_per_capita                          29
total_ghg_excluding_lucf                29
ghg_excluding_lucf_per_capita           29
methane                                 29
methane_per_capita                      29
nitrous_oxide                           29
nitrous_oxide_per_capita                28
population                             221
gdp                                    199
primary_energy_consumption              55
energy_per_capita                       55
energy_per_gdp                          51
dtype: int64

In [9]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
usa_df = usa_df.drop(columns=["share_global_co2",
                              "share_global_cement_co2",
                              "share_global_coal_co2",
                              "share_global_flaring_co2",              
                              "share_global_gas_co2",                   
                              "share_global_oil_co2",                 
                              "share_global_other_co2",                  
                              "share_global_cumulative_co2",          
                              "share_global_cumulative_cement_co2",    
                              "share_global_cumulative_coal_co2",       
                              "share_global_cumulative_flaring_co2",     
                              "share_global_cumulative_gas_co2",        
                              "share_global_cumulative_oil_co2",        
                              "share_global_cumulative_other_co2",      
                              "total_ghg",
                              'ghg_excluding_lucf_per_capita',
                              "ghg_per_capita",
                              "cumulative_other_co2",
                              "consumption_co2",
                              "consumption_co2_per_capita",
                              "consumption_co2_per_gdp",
                              "cumulative_co2",
                              "cumulative_cement_co2",
                              "consumption_co2_per_capita",
                              "consumption_co2_per_gdp",
                              "cumulative_co2",
                              "cumulative_cement_co2",
                              "cumulative_coal_co2",
                              "cumulative_flaring_co2",
                              "cumulative_gas_co2",
                              "cumulative_oil_co2",
                              "cumulative_other_co2",
                              "trade_co2_share",
                              "other_industry_co2",
                              "other_co2_per_capita",
                              "co2_growth_abs",
                              "co2_per_unit_energy",
                              "total_ghg_excluding_lucf",
                              "trade_co2",
                              "flaring_co2_per_capita",
                              "primary_energy_consumption",
                              "energy_per_capita",

                              ], axis=1)
usa_df

,country,year,co2,co2_per_capita,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,gas_co2,...,oil_co2_per_capita,co2_growth_prct,co2_per_gdp,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,energy_per_gdp
23834,United States,1800,0.253,0.042,NaN,NaN,0.253,0.042,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0,NaN,NaN
23835,United States,1801,0.267,0.044,NaN,NaN,0.267,0.044,NaN,NaN,...,NaN,5.80,NaN,NaN,NaN,NaN,NaN,6113782.0,NaN,NaN
23836,United States,1802,0.289,0.046,NaN,NaN,0.289,0.046,NaN,NaN,...,NaN,8.22,NaN,NaN,NaN,NaN,NaN,6229723.0,NaN,NaN
23837,United States,1803,0.297,0.047,NaN,NaN,0.297,0.047,NaN,NaN,...,NaN,2.53,NaN,NaN,NaN,NaN,NaN,6347862.0,NaN,NaN
23838,United States,1804,0.333,0.052,NaN,NaN,0.333,0.052,NaN,NaN,...,NaN,12.35,NaN,NaN,NaN,NaN,NaN,6468241.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24050,United States,2016,5248.024,16.247,39.439,0.122,1379.744,4.271,51.908,1502.475,...,6.955,-2.30,0.306,609.89,1.888,249.26,0.772,323015992.0,1.716256e+13,1.486
24051,United States,2017,5207.751,16.020,40.324,0.124,1338.667,4.118,56.186,1480.059,...,6.968,-0.77,0.296,615.77,1.894,250.68,0.771,325084758.0,1.759628e+13,NaN
24052,United States,2018,5375.491,16.434,38.971,0.119,1283.532,3.924,71.008,1641.041,...,7.083,3.22,0.296,623.77,1.907,251.35,0.768,327096263.0,1.814065e+13,NaN
24053,United States,2019,5255.816,15.972,40.896,0.124,1098.854,3.339,84.510,1694.894,...,7.030,-2.23,NaN,NaN,NaN,NaN,NaN,329064917.0,NaN,NaN
24054,United States,2020,4712.771,14.238,40.795,0.123,888.649,2.685,84.510,1654.988,...,6.104,-10.33,NaN,NaN,NaN,NaN,NaN,331002647.0,NaN,NaN

In [10]:
usa_df.nunique()

country                       1
year                        221
co2                         220
co2_per_capita              216
cement_co2                  108
cement_co2_per_capita        57
coal_co2                    220
coal_co2_per_capita         215
flaring_co2                  70
gas_co2                     138
gas_co2_per_capita          138
oil_co2                     161
oil_co2_per_capita          157
co2_growth_prct             214
co2_per_gdp                 184
methane                      29
methane_per_capita           29
nitrous_oxide                29
nitrous_oxide_per_capita     28
population                  221
gdp                         199
energy_per_gdp               51
dtype: int64

In [11]:
for column in usa_df.columns:
    print(f"column {column} has {usa_df[column].isnull().sum()} null values")

column country has 0 null values
column year has 0 null values
column co2 has 0 null values
column co2_per_capita has 0 null values
column cement_co2 has 80 null values
column cement_co2_per_capita has 80 null values
column coal_co2 has 0 null values
column coal_co2_per_capita has 0 null values
column flaring_co2 has 150 null values
column gas_co2 has 82 null values
column gas_co2_per_capita has 82 null values
column oil_co2 has 60 null values
column oil_co2_per_capita has 60 null values
column co2_growth_prct has 1 null values
column co2_per_gdp has 22 null values
column methane has 192 null values
column methane_per_capita has 192 null values
column nitrous_oxide has 192 null values
column nitrous_oxide_per_capita has 192 null values
column population has 0 null values
column gdp has 22 null values
column energy_per_gdp has 169 null values

In [12]:
usa_df = usa_df.reset_index()
usa_df

,index,country,year,co2,co2_per_capita,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,...,oil_co2_per_capita,co2_growth_prct,co2_per_gdp,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,energy_per_gdp
0,23834,United States,1800,0.253,0.042,NaN,NaN,0.253,0.042,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0,NaN,NaN
1,23835,United States,1801,0.267,0.044,NaN,NaN,0.267,0.044,NaN,...,NaN,5.80,NaN,NaN,NaN,NaN,NaN,6113782.0,NaN,NaN
2,23836,United States,1802,0.289,0.046,NaN,NaN,0.289,0.046,NaN,...,NaN,8.22,NaN,NaN,NaN,NaN,NaN,6229723.0,NaN,NaN
3,23837,United States,1803,0.297,0.047,NaN,NaN,0.297,0.047,NaN,...,NaN,2.53,NaN,NaN,NaN,NaN,NaN,6347862.0,NaN,NaN
4,23838,United States,1804,0.333,0.052,NaN,NaN,0.333,0.052,NaN,...,NaN,12.35,NaN,NaN,NaN,NaN,NaN,6468241.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,24050,United States,2016,5248.024,16.247,39.439,0.122,1379.744,4.271,51.908,...,6.955,-2.30,0.306,609.89,1.888,249.26,0.772,323015992.0,1.716256e+13,1.486
217,24051,United States,2017,5207.751,16.020,40.324,0.124,1338.667,4.118,56.186,...,6.968,-0.77,0.296,615.77,1.894,250.68,0.771,325084758.0,1.759628e+13,NaN
218,24052,United States,2018,5375.491,16.434,38.971,0.119,1283.532,3.924,71.008,...,7.083,3.22,0.296,623.77,1.907,251.35,0.768,327096263.0,1.814065e+13,NaN
219,24053,United States,2019,5255.816,15.972,40.896,0.124,1098.854,3.339,84.510,...,7.030,-2.23,NaN,NaN,NaN,NaN,NaN,329064917.0,NaN,NaN
220,24054,United States,2020,4712.771,14.238,40.795,0.123,888.649,2.685,84.510,...,6.104,-10.33,NaN,NaN,NaN,NaN,NaN,331002647.0,NaN,NaN

In [13]:
usa_df.nunique()

index                       221
country                       1
year                        221
co2                         220
co2_per_capita              216
cement_co2                  108
cement_co2_per_capita        57
coal_co2                    220
coal_co2_per_capita         215
flaring_co2                  70
gas_co2                     138
gas_co2_per_capita          138
oil_co2                     161
oil_co2_per_capita          157
co2_growth_prct             214
co2_per_gdp                 184
methane                      29
methane_per_capita           29
nitrous_oxide                29
nitrous_oxide_per_capita     28
population                  221
gdp                         199
energy_per_gdp               51
dtype: int64

In [14]:
# Drop the non-beneficial ID columns
usa_df = usa_df.drop(columns=["index"], axis=1)
usa_df

,country,year,co2,co2_per_capita,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,flaring_co2,gas_co2,...,oil_co2_per_capita,co2_growth_prct,co2_per_gdp,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,energy_per_gdp
0,United States,1800,0.253,0.042,NaN,NaN,0.253,0.042,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000000.0,NaN,NaN
1,United States,1801,0.267,0.044,NaN,NaN,0.267,0.044,NaN,NaN,...,NaN,5.80,NaN,NaN,NaN,NaN,NaN,6113782.0,NaN,NaN
2,United States,1802,0.289,0.046,NaN,NaN,0.289,0.046,NaN,NaN,...,NaN,8.22,NaN,NaN,NaN,NaN,NaN,6229723.0,NaN,NaN
3,United States,1803,0.297,0.047,NaN,NaN,0.297,0.047,NaN,NaN,...,NaN,2.53,NaN,NaN,NaN,NaN,NaN,6347862.0,NaN,NaN
4,United States,1804,0.333,0.052,NaN,NaN,0.333,0.052,NaN,NaN,...,NaN,12.35,NaN,NaN,NaN,NaN,NaN,6468241.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,United States,2016,5248.024,16.247,39.439,0.122,1379.744,4.271,51.908,1502.475,...,6.955,-2.30,0.306,609.89,1.888,249.26,0.772,323015992.0,1.716256e+13,1.486
217,United States,2017,5207.751,16.020,40.324,0.124,1338.667,4.118,56.186,1480.059,...,6.968,-0.77,0.296,615.77,1.894,250.68,0.771,325084758.0,1.759628e+13,NaN
218,United States,2018,5375.491,16.434,38.971,0.119,1283.532,3.924,71.008,1641.041,...,7.083,3.22,0.296,623.77,1.907,251.35,0.768,327096263.0,1.814065e+13,NaN
219,United States,2019,5255.816,15.972,40.896,0.124,1098.854,3.339,84.510,1694.894,...,7.030,-2.23,NaN,NaN,NaN,NaN,NaN,329064917.0,NaN,NaN
220,United States,2020,4712.771,14.238,40.795,0.123,888.649,2.685,84.510,1654.988,...,6.104,-10.33,NaN,NaN,NaN,NaN,NaN,331002647.0,NaN,NaN

In [15]:
# Saving cleaned data
file_path = "Updated_USA-co2-data.csv"
usa_df.to_csv(file_path, index=False)